- name: Deploy Scientific Calculator
  hosts: localhost
  connection: local                # <--- ADD THIS
  gather_facts: false             # optional, speeds up play
  vars:
    ansible_python_interpreter: /Users/rutul/Documents/devops_spe/.venv_ansible/bin/python
  tasks:
    - name: Pull Docker Image
      community.docker.docker_image:
        name: "rutul2108/devops_spe"
        tag: latest
        source: pull

    - name: Stop existing container if running
      community.docker.docker_container:
        name: scientific_calculator
        state: absent
        force_kill: true

    - name: Run Docker Container
      community.docker.docker_container:
        name: scientific_calculator
        image: "rutul2108/devops_spe:latest"
        state: started
        detach: yes
        restart_policy: unless-stopped
        ports:
          - "9090:8080"